:root {
    
/* colours to use for ui */
    --capri-blue: #5cc8ff;
    --azure-blue: #0081e9;
    --charcoal-grey: #36494e;
    --magnolia-grey: #efe9f4;
    --black: #000000;
    --white: #ffffff;
    --big-dip-ruby-red: #9e1946;
    
  
  --settings_tray_radius: 1em;
  --settings_tray_width: 3em;
  /*height for settings tray auto set by elements added */
  
  --element_margin: 0.5em;
  
  --slider_width: 2em;
  --slider_height: 10em;
  --slider_half_height: 5em;
  --slider_track_radius: 0.25em;
  
  --thumb_width: 2em;
  --thumb_height: 1.5em;
  --thumb_radius: 0.25em;
  
  --track_colour: #CCd3d7d7;
  --track_opacity: 0.9;
  --track_outline_colour: #a5a8a8;
  
  --thumb_colour: #e5e9e8;
  --thumb_border_colour: rgba(0,0,0,0.36);
}

#tool-tray {
    
    display: flex;
    flex-direction: column;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    padding-top: var(--slider_half_height);
    
    padding-bottom: calc(var(--slider_half_height) / 3);
    
    background-color: var(--black);
    opacity: 0.8;
    width: var(--settings_tray_width);
    border-radius: var(--settings_tray_radius);
    position: fixed;
    left: 1em;

    /* used to center tray vertically */
    top: 50%;
    transform: translate(0%, -50%);
    
    z-index: 5; /* keep tool tray over canvas */
    touch-action: none; /*prevents page accidentally scrolling when changing input sliders */
}


#sub-tool-tray {
    
    display: flex;
    flex-direction: column;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    padding-top: var(--slider_half_height);
    
    padding-bottom: calc(var(--slider_half_height) / 3);
    
   /* background-color: red; */
    /* opacity: 0.8; */
    width: 9em;
    border-radius: var(--settings_tray_radius);
    position: fixed;
    left: 4.5em;

    /* used to center tray vertically */
    top: calc(50% - 2em);
    transform: translate(0%, -50%);
    pointer-events: none;
    z-index: 5; /* keep tool tray over canvas */
    touch-action: none; /*prevents page accidentally scrolling when changing input sliders */
}

#brush-size-preview{
    
    height: calc(var(--slider_height) - 1.5em);
    width: 9em;
    background-color: var(--black);
    opacity: 0.8;
    border-radius: var(--settings_tray_radius);
    margin-top: -17.5em;
    display: none;
    
}

#brush-fav-menu{
    
    display: none;
    align-items: center;
    justify-content: center;
    
    height: fit-content;
    
    width: fit-content;
    background-color: var(--black);
    opacity: 0.8;
    border-radius: var(--settings_tray_radius);
    transform-origin: center;
    transform: translate(25%, 0);
    margin-top: -50%;
    pointer-events: all;
    
}

#brush-opacity-preview{
    
    height: calc(var(--slider_height) - 1.5em);
    width: 9em;
    background-color: var(--black);
    opacity: 0.8;
    border-radius: var(--settings_tray_radius);
    margin-top: 7em;
    display: none;
    
}


.slider {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: var(--slider_height); /*actual height */
    
    height: var(--slider_width);/*actual width */
    
    border-radius: var(--slider_track_radius);
    border: 1px solid var(--track_outline_colour);
    background: var(--track_colour);
    outline: none;
    opacity: var(--track_opacity);
    -webkit-transition: .2s;
    transition: opacity .2s;
    /*top: -1em;*/

    /*margin-left: -3.4em;*/
    text-align: center;

    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

}



#brush_opacity{
  
  margin-top: calc(4em + (var(--element_margin) * 2));
  
  
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb_height); /* actual thumb height */
  height: var(--thumb_width); /* actual thumb width */
  background: var(--thumb_colour);
  border: 1px var(--thumb_border_colour);
  cursor: pointer;
  border-radius: var(--thumb_radius);
}

.slider::-moz-range-thumb {
  width: var(--thumb_height); /* actual thumb height */
  height: var(--thumb_width); /* actual thumb width */
  background: var(--thumb_colour);
  border: 1px var(--thumb_border_colour);
  cursor: pointer;
  border-radius: var(--thumb_radius);
}

.slider::-ms-thumb {
  width: var(--thumb_height); /* actual thumb height */
  height: var(--thumb_width); /* actual thumb width */
  background: var(--thumb_colour);
  border: 1px var(--thumb_border_colour);
  cursor: pointer;
  border-radius: var(--thumb_radius);
}

.btn{
   background-color: transparent;
  width: 1.5em;
  height: 1.5em;
  border: none;
  color: var(--white);
  font-size: 1.5em;
  cursor: pointer;
  pointer-events:auto;
    
 /* background-color: blue;*/
  
  
}

#brush-btn {
  
  margin-top: calc(2.15em + var(--element_margin));
  
 /* background: blue;*/
    
}

#undo-btn{
  
  margin-top: calc(2.15em + var(--element_margin));
  /*background:blue;*/
}

#redo-btn{
  
  margin-bottom: 0em;
  margin-top:var(--element_margin);
 /* background:blue;*/
}



/* Darker background on mouse-over */
.btn:hover {
  color: var(--white);
  transform:scale(0.9);
}

.btn:active {
  color: var(--azure-blue);
  transform-origin: center;
  transform:scale(0.9);
}


.shadow-1 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-2 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.preview_window{
    position: relative;
 /*   display: flex;
  flex-direction: column;
  
  -webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
  -webkit-box-pack: center;
-moz-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;*/
    
    
}

.preview_value_title {
  
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  white-space: nowrap;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  /*margin-bottom: .5em;
  margin-left: 6em;*/
    
}


.brush_preview {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    filter: invert(100%) sepia(60%) saturate(2%) hue-rotate(83deg) brightness(106%) contrast(100%);
    
}

.thin_text{
    
    font-weight: 100;
}

.light_text{
    
    font-weight: 300;
}

.regular_text{
    
    font-weight: 400;
}

.medium_text{
    
    font-weight: 500;
}

.bold_text{
    
    font-weight: 700;
}

.heavy_text{
    
    font-weight: 900;
}


#console{
    
        width: 100%;
    height: 125px;
    position: fixed;
    bottom: 0px;
    resize: none;
    color: #00d6ff;
    background-color: #494949db;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    Z-index: 10;
    
    
}

canvas{
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
  padding 0px;
    border-radius: 10px;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}
.canvas-container{   
  
  padding 0px;
    margin-top: 15px;
}

#save-btn{
  
  position: fixed;
  top: 2em;
  left: 1em;
  width: 2em;
  height: 2em;
  z-index: 5;
    
      background-color: white;
    color: darkslategray;
    border-radius: 50%;
    
    box-shadow: inset 0px 0px 15px 5px rgb(0 0 0 / 25%), 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}


  
}

#add_canvas{
  
  position: fixed;
  top: 5em;
  left: 1em;
  width: 2em;
  height: 2em;
  z-index: 5;
  
}

#add_text{
  
  position: fixed;
  left: 115px;
  z-index: 5;
  
}

#add_circle{
  
  position: fixed;
  left: 200px;
  z-index: 5;
  
}

#black_pen{
  
  position: fixed;
  left: 310px;
  z-index: 5;
  
}

#red_pen{
  
  position: fixed;
  left: 410px;
  z-index: 5;
  
}

#size{
  
  position: fixed;
  left: 490px;
}

#line-width{
  
  position: fixed;
  left: 20px;
  top: 40px;
  z-index: 5;
    
writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
  
}

.pen_button {
  all: unset;
  cursor: pointer;
 /* display: none !important; /** start hidden**/
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 12px
  position: relative;
  /*margin: 10px;*/
  
}

.pencil_icon {
  background-image: url('../images/tools/pencil@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.pen_icon {
  background-image: url('../images/tools/pen@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.marker_icon {
  background-image: url('../images/tools/marker@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.brush1_icon {
  background-image: url('../images/tools/brush1@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.brush2_icon {
  background-image: url('../images/tools/brush2@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.airbrush_icon {
  background-image: url('../images/tools/airbrush@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.eraser_icon {
  background-image: url('../images/tools/eraser@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.add_page_icon {
  background-image: url('../images/tools/addPage@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#color-menu {
  position: fixed;
  top: 2em;
  right: 2em;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  z-index: 5;
}

#colour-preview-btn {
  width: 4em;
  height: 4em;
  background-color: red;
  padding: 0;
  border-radius: 0.5em;
  border: none;
  align-self: flex-end;
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25),
    0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#colour-preview-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
}

#color-picker-tray {
  display: flex; /* hidden by default */
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;
  border-radius: 1em;
  background-color: #fff;
  width: 300px;
  height: fit-content;
  background-color: #3e3e3e;
}

#color-picker-tray h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: -0.2em;
}

#procreate-color-disk {
  width: 300px;
  height: 300px;
}

#color-swatches {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: calc(100vh / 3);
  overflow: scroll;
  overflow-x: hidden;
}

#color-swatches::-webkit-scrollbar {
  width: 0.5em;               /* width of the entire scrollbar */
}

#color-swatches::-webkit-scrollbar-track {
  background: #e5e9e8bf;        /* color of the tracking area */
  border-radius: 0.25em;
}

#color-swatches::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid black;  /* creates padding around scroll thumb */
}

.swatch {
  width: calc(33.33% - 1em);
  height: 0;
  padding-bottom: calc(33.33% - 1em);
  border-radius: 10%;
  margin: 0.33em;
  border: none;
  box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.35),
    0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.swatch:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.swatch:active {
  transform: scale(1);
}


